<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP) 
                                    (HOST=202.91.241.138) (PORT=1521)))
                                    (CONNECT_DATA=(SERVER=DEDICATED) (SERVICE_NAME=orcl)));
                                    User Id=ld_sm;Password=zbm0571ldkj189;  
                                    Connection Lifetime=120;Connection Timeout=90;Incr Pool Size=5;Decr Pool Size=2;"/>
  
 </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms" >
      <forms defaultUrl="login.aspx" loginUrl="login.aspx" timeout="20" protection="All" path="/">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
